@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');


:root{
    /**Primery**/
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /**Neutral**/
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    
    /**Font**/
    --font-Family:  'Public Sans', 'sans-s';
    --Weights: 300, 400, 700;

}

html{
  font-size: 100%;
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
    font-family: var(--font-Family);
    min-width: 100vw;
    max-width: 1180px;
    min-height: 100vh;
    background-color: var(--Very-Light-Gray);
    margin: 0;
    padding: 0;
    line-height: 1.3;
    overflow-x: hidden;


}

img {
    max-width: 100%;
  }
  
  a {
    text-transform: capitalize;
  }
  
  a:link,
  a:visited {
    color: var(--grayish-blue);
    text-decoration: none;
  }

  .hidden {
    display: none;
  }
  

  .btuton-requast{
    padding:0.7rem 1.18rem ;
    border: 0;
    border-radius: 25px;
    background:linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    font-weight: 400;
    font-family: var(--font-Family);
    text-align: center;
    color: var(--White);
    font-weight: 600;
    display: inline-block;
  }

.navigation{
     /* width: 100%;  */
    padding: 1.5rem;    
    max-height: 70px;
    background-color: var(--White);
    box-shadow: 0 5px 5px -6px  hsl(233, 8%, 62%);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    
}

.navbar-items{
  display: flex;
  justify-content: center; 
  align-items: center;
 padding: 0 4rem 0 3rem;

  
}

.logo{
  padding: 1rem 1rem;
  
}

.navlist{
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    padding: 3rem 2rem; 
  

}

  .navlist a{
    text-decoration: none;
    font-weight: 600;
    padding: 0;
    row-gap: 15px;
    color: var(--Grayish-Blue);
    font-family: var(--font-Family);
 
}

.navlist a:hover{
  border-bottom: 3px solid var(--Lime-Green);
  padding-bottom: px;
}

.toggle{
	padding:15px;
	background: var(--White);
	text-align: right;
	box-sizing: border-box;
	color:var(--Dark-Blue);
	font-size: 30px;
  display: none;
  cursor: pointer;
}

.icon-close{
  display:none;
}



 .button-nav .btuton-requast{
    padding:0.7rem 1.18rem ;
    border: 0;
    border-radius: 25px;
    background:linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
    font-weight: 400;
    font-family: var(--font-Family);
    text-align: center;
    color: var(--White);
    font-weight: 600;
    display: inline-block;
  }

/*intro hero section*/

.intro-container{ 
  background-color: var(--White);
  display: flex;
  align-items: center;
  position: relative;
  padding-right: .2rem;
  padding-left: 6.8rem;
}


 .image-background{
  max-height: 40rem;
  flex: 3;
  top: 0;
  width: 100%;
  position: relative;
 }


.desktop-img {
 background: url(/esybank-landing/images/bg-intro-desktop.svg) ;   
 background-repeat: no-repeat; 
  background-position: -5% 75%;
  background-size: 137% 150%;
  height: 40rem;
  width: 100%;


  
}
.image-mockups img{
  position: absolute;
  z-index: 2;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  padding-right: 1.2rem;
  top: -19.6%;
  left: 19%;
  width: 100%;
  height: 145%;
}


.text-intro{
  padding-top: .5rem;
  padding-right: 3.4rem;
  padding-bottom: 2.3rem;
  padding-left: .5rem;
  max-width: 500px; 
  text-align: left;
  align-self: center; 
  flex: 2;

 
}

.intro-heading{
  font-size: 3rem;
  color: var(--Dark-Blue);
}

.intro-info{
  color: var(--Grayish-Blue);
  line-height: 1.6;
  font-weight: 600;
}

.text-intro .btuton-requast{
  padding:0.7rem 1.18rem ;
  border: 0;
  border-radius: 25px;
  background:linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
  font-weight: 400;
  font-family: var(--font-Family);
  text-align: center;
  color: var(--White);
  font-weight: 600;
  display: inline-block;
  margin-top: 1.5rem;
  
}




/*choose section*/

.main-content{
  max-width: 100%;
  background-color: var(--Light-Grayish-Blue);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto ;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
  gap: 3rem;

  
}

.text-content{
  padding: 2rem 0 1rem 3rem;
  grid-column: span 1;
  width: 100%;
  text-align: left;
  margin: 2rem;
 
}

.col-content{
display: grid;
gap: 2rem;
grid-template-columns: repeat(4,1fr);
justify-content: center;
padding-left: 4.1rem;
padding-right: 2.2rem;
margin-left: 1rem;
}



.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: left;
}


/**article section**/
.latest-article {
 padding: 5% 8% ;
  display: grid;
 grid-template-columns: repeat(4, minmax(200px, 1fr));
 justify-content: center; 
  align-items: center;
 gap: 1.5rem;
}

.section-head{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto ;
  padding: 3rem 0 0 2rem;
  margin: 0 4rem;
}


.section-head h1{
  color: var(--Dark-Blue);
  font-weight: bold;
  font-size: 2.7rem;
  font-family: var(--font-Family);


}
.card {
  margin: 0 0 10px;
}
.card img{
  width: 25vw;
  height: 15vw;
  display: block;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.container {
  border: 1px solid var(--Light-Grayish-Blue) ;
  background-color: var(--White);
  padding: 1.2rem ; 
  margin: 0;
  
}

.write-text{
  font-size: 10px;
  color: var(--Grayish-Blue);
  margin: 10px 6px;

}

.head-article{
  font-size: 1rem;
  font-family: var(--font-Family);
  color: var(--Dark-Blue);
  font-weight: 600;
  margin: 10px 6px;

}
.card-text{
  color: var(--Grayish-Blue);
  font-family: var(--font-Family);
  font-size: 13px;
  font-weight: 600;
  margin: 0 5px 0 5px;

}

/**footer**/
footer{
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: 2rem 8%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  clear: both;
  min-height:35vh;
  
}

.footer-logo{
grid-area: 1/1/1/1 ;
padding: 5px;
}

.footer-nav{
  grid-area: 1/1/4/3;
  display: flex;
  justify-content: center;
  clear: both;
  text-align: left;
}

.footer-nav ul li a{
  color: var(--White);
  font-weight: 600;
  font-family: var(--font-Family);
  font-size: 1rem;
}


nav ul.footer-list{
  list-style-type: none;
}

.footer-list li{
  padding-bottom: 1rem;
}


.social-media {
  grid-area: 2/1/2/1;
  padding: .2rem 0;
  margin-top: 1rem;
}

.social-media a {
  margin-right: 1rem;
  vertical-align: bottom ;
  

}

.social-media a img {
  vertical-align: bottom;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a,
nav.footer-nav li.footer-nav a {
  transition: all 0.3s;
}


.button-footer{
grid-area: 1/2/1/2;
margin-left: auto;
}

.attribution{
  justify-self: center; 
  align-self: flex-start;
  margin-top: 1rem;
  grid-area:   2/2/3/3;
  
}
.attribution a{
  color: var(--Grayish-Blue);
}






  

  @media only screen and (min-width:911px) and (max-width:1058px){
  

  .intro-container{ 
  background-color: var(--White);
  display: flex;
  align-items: center;
  position: relative;
  padding-right: .2rem;
  padding-left: 2.8rem;  

}


 .image-background{
  min-height: 35rem;
  flex: 2;
  position: relative;
  padding-left: 1.5rem;
  overflow-x:clip;

 }


.desktop-img {
  background: url(/esybank-landing/images/bg-intro-desktop.svg) ;   
  background-repeat: no-repeat; 
  background-position: -2% 75%;
  background-size: 140% 150%;
  height: 40rem;
  width: 100%;
  flex: 3;  
}


.image-mockups img{
  position: absolute;
  z-index: 2;
  padding-top: .2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  top: -19.6%;
  left: 26%;
  width: 100%;
  height: 136%;
}



 

.text-intro{
  padding-top: 2.5rem;
  padding-right: 2.4rem;
  padding-bottom: 4.3rem;
  padding-left: 1.5rem;
  max-width: 440px;
  justify-self: center;   
  text-align: left; 

 
}

.intro-heading{
  font-size: 2.4rem;;
  color: var(--Dark-Blue);
}

.intro-info{
  color: var(--Grayish-Blue);
  line-height: 1.5;
}

.text-intro .btuton-requast{
  /* width: 15%; */
  padding:0.8rem;
  border-radius: 25px;
  background:linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
  color: var(--White);
  text-align: center;
  font-weight: 600;
  /* position: relative; */
  margin-top: 1rem;
  
}

}

@media only screen and (min-width:873px ) and (max-width:912px){
  
    body{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
 .toggle
	{
		display: block;   
	}
  
  .navigation {
  width: 100%;
  padding: 1.5rem;
  max-height: 70px;
  background-color: var(--White);
  box-shadow: 0 5px 5px -6px hsl(233, 8%, 62%);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  }

  .navlist{
		max-width: 80%; 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    display: none;
	}

    .navbar-items{
    padding: 0 1.5rem 0 2rem;  
  }

	.navlist.active
	{
    margin: 0 auto;
		 display: flex; 
    flex-direction: column;
     width: 100%;  
     align-items: center;
     justify-content: center;
     position: absolute;
      left: 0;
      right: 0;
     background:var(--Very-Light-Gray);
    padding: 2rem;

	}

  .icon-hamburger {
  height: 1rem;
  width: 2rem;
}

.icon-close{
  height: 1.5rem;
  width: 1.5rem;
}

.button-nav{
  display: none;
}




.intro-container{
  /* min-height: 620px; */
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  overflow-x:clip;
  padding: 0;

}

.image-background{
  max-height: 25rem;  
  margin: 0 0 1.8rem;
}


.desktop-img{
position: relative;
background-image: url(/esybank-landing/images/bg-intro-mobile.svg);
background-repeat: no-repeat;
background-position: center left;
background-size: 100% 156%;
height: 28rem;
 order: 1;
 flex: 3;
}
  
.image-mockups img {
  top: -47%;
  left: 0;
  right: 0;
  width: 80%;
  height: 160%;
  margin: 0 auto;
}

.text-intro{
 text-align: center;
 max-width: 465px; 
padding-bottom: 4.25rem;
padding-right: 3rem;
padding-top: 2rem;
padding-left: 3rem;
 flex: 2;
 order: 2;
}

.text-intro h1{
text-align: center;
 padding-top:  1.2rem ; 
font-weight: 600;
font-size: 2.89rem;
line-height: 1.15;
margin-bottom: 2.2rem;

}
.text-intro p{
  line-height: 1.12;
  margin-bottom: 2.2rem;

}
.text-intro .btuton-requast{
  margin-bottom: 2.2rem;
  display: inline-block;
  cursor: pointer;
}

.logo{
  padding: 1rem 3rem;
}


/**chose easybank*/

.main-content{
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;  
}

.text-content{
  padding: 2.5rem 2rem;
  grid-column: span 1;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  
 
}

.col-content{
display: grid;
gap: 2rem;
grid-template-columns: repeat(2,1fr);
justify-content: center;
padding-left: 2rem;
padding-right: 2rem;
margin:0 auto ;
}

.column {
  text-align: center;
  margin: 0 15px 0 15px;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: center;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: center;
}


/**article section**/
.latest-article {
 padding: 3rem  4rem;
  display: grid;
 grid-template-columns: repeat(2, minmax(200px, 1fr));
 justify-content: center; 
  align-items: center;
 gap: 2rem;
}

.section-head{
  margin: 0 2rem;
  text-align: center;
}


.section-head h1{
  color: var(--Dark-Blue);
  font-weight: bold;
  font-size: 2.7rem;
  font-family: var(--font-Family);


}

.card{
    padding: 0 14px 15px 16px;
}

.card img{
  width: 41vw;
  height: 20vw;
  display: block;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.container {
  border: 1px solid var(--Light-Grayish-Blue) ;
  background-color: var(--White);
  padding: 1.2rem ; 
  margin: 0;
  
}

.write-text{
  font-size: 10px;
  color: var(--Grayish-Blue);
  margin: 10px 6px;

}

.head-article{
  font-size: 1rem;
  font-family: var(--font-Family);
  color: var(--Dark-Blue);
  font-weight: 600;
  margin: 10px 6px;

}
.card-text{
  color: var(--Grayish-Blue);
  font-family: var(--font-Family);
  font-size: 13px;
  font-weight: 600;
  margin: 0 5px 0 5px;

}




/**footer**/
footer{
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: 2.5rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  clear: both;
  min-height:min-content;
  justify-items: center;
  
}

.footer-logo{
padding-top: 10px;
}

.footer-nav{
  display: block;
  clear: both;
  text-align: center;
  grid-area: unset;
  margin-right: 3rem;
}

.footer-nav ul li a{
  color: var(--White);
  font-weight: 600;
  font-family: var(--font-Family);
  font-size: 1rem;
}


nav ul.footer-list{
  list-style-type: none;
}

.footer-list li{
  padding-bottom: .9rem;
}


.social-media {
  padding: .2rem 0;
  margin-top: 1rem;
}

.social-media a {
  margin-right: 1rem;
  vertical-align: bottom ;
  

}

.social-media a img {
  vertical-align: bottom;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a,
nav.footer-nav li.footer-nav a {
  transition: all 0.3s;
}


.button-footer{
  grid-area: unset;
  margin: 0 auto;
}

.attribution{
  justify-self: center; 
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 0;
  grid-area: unset;
}
.attribution a{
  color: var(--Grayish-Blue);

  
}




}

@media only screen and (min-width:699px ) and (max-width:874px){
  
    body{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
      overflow-x:clip;

  }
 .toggle
	{
		display: block;   
	}
  
  .navigation {
  width: 100%;
  padding: 1.5rem;
  max-height: 70px;
  background-color: var(--White);
  box-shadow: 0 5px 5px -6px hsl(233, 8%, 62%);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  }

  .navlist{
		max-width: 80%; 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    display: none;
	}

  .navbar-items{
    padding: 0 1rem 0 2rem;
  }

	.navlist.active
	{
    margin: 0 auto;
		 display: flex; 
    flex-direction: column;
     width: 100%;  
     align-items: center;
     justify-content: center;
     position: absolute;
      left: 0;
      right: 0;
     background:var(--Very-Light-Gray);
    padding: 2rem;

	}

  .icon-hamburger {
  height: 1rem;
  width: 2rem;
}

.icon-close{
  height: 1.5rem;
  width: 1.5rem;
}

.button-nav{
  display: none;
}




.intro-container{
  /* min-height: 620px; */
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  overflow-x:clip;
  padding: 0;

}

.image-background{
  max-height: 25rem;  
  margin: 0 0 1.8rem;
}

.desktop-img{
  position: relative;
 background-image: url(/esybank-landing/images/bg-intro-mobile.svg);
 background-size: 100% 145%;
background-position: center left;
 background-repeat: no-repeat;
 height: 26rem;
 order: 1;
 flex: 3;
}

  
.image-mockups img {
  position: absolute;
  z-index: 2;
  top: -44%;
  left: 0;
  right: 0;
  width: 80%;
  height: 149%;
  margin: 0 auto;
}

.text-intro{
 text-align: center;
 /* max-width: 465px; */
 text-align: center;
  /* max-width: 550px; */
  padding-bottom: 4.25rem;
  padding-right: 3rem;
  padding-top: .2rem;
  padding-left: 3rem;
  order: 2;
  flex: 3;
 width: 100%;

}

.text-intro h1{
text-align: center;
padding-top:  1.2rem ; 
font-weight: 600;
font-size: 2.80rem;
line-height: 1.15;
margin-bottom: 2.2rem;

}
.text-intro p{
  line-height: 1.5;
  margin-bottom: 2.2rem;

}
.text-intro .btuton-requast{
  margin-bottom: 2.2rem;
  display: inline-block;
  cursor: pointer;
  margin-top: .1rem;
}

.logo{
  padding: 1rem 1rem;
}


/**chose easybank*/

.main-content{
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;  
}

.text-content{
  padding: 2rem 3.5rem 0 3.5rem;
  grid-column: span 1;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  
 
}

.col-content{
display: grid;
gap: 2rem;
grid-template-columns: repeat(1,1fr);
justify-content: center;
padding-left: 2.75rem;
padding-right: 2.75rem;
margin:0 auto ;
}

.column {
  text-align: center;
  margin: 0 7.5rem 0 7.5rem;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: center;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: center;
}


/**article section**/
.latest-article {
 padding: 3rem  4rem;
  display: grid;
 grid-template-columns: repeat(1, minmax(200px, 1fr));
 justify-content: center; 
  align-items: center;
 gap: 2rem;
}

.section-head{
  margin: 0 2rem;
  text-align: center;
}


.section-head h1{
  color: var(--Dark-Blue);
  font-weight: bold;
  font-size: 2.7rem;
  font-family: var(--font-Family);


}

.card{
  padding: 0 3rem 3rem 3rem;
  max-width: 475px;
  margin: 0 auto;
}

.card img{
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.container {
  border: 1px solid var(--Light-Grayish-Blue) ;
  background-color: var(--White);
  padding: 2.2rem ; 
  margin: 0;
  
}

.write-text{
  font-size: 10px;
  color: var(--Grayish-Blue);
  margin: 10px 6px;

}

.head-article{
  font-size: 1rem;
  font-family: var(--font-Family);
  color: var(--Dark-Blue);
  font-weight: 600;
  margin: 10px 6px;

}
.card-text{
  color: var(--Grayish-Blue);
  font-family: var(--font-Family);
  font-size: 13px;
  font-weight: 600;
  margin: 0 5px 0 5px;

}




/**footer**/
footer{
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: 2.5rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  clear: both;
  min-height:min-content;
  justify-items: center;
  
}

.footer-logo{
padding-top: 10px;
}

.footer-nav{
  display: block;
  clear: both;
  text-align: center;
  grid-area: unset;
  margin-right: 3rem;
}

.footer-nav ul li a{
  color: var(--White);
  font-weight: 600;
  font-family: var(--font-Family);
  font-size: 1rem;
}


nav ul.footer-list{
  list-style-type: none;
}

.footer-list li{
  padding-bottom: .9rem;
}


.social-media {
  padding: .2rem 0;
  margin-top: 1rem;
}

.social-media a {
  margin-right: 1rem;
  vertical-align: bottom ;
  

}

.social-media a img {
  vertical-align: bottom;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a,
nav.footer-nav li.footer-nav a {
  transition: all 0.3s;
}


.button-footer{
  grid-area: unset;
  margin: 0 auto;
}

.attribution{
  justify-self: center; 
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 0;
  grid-area: unset;
}
.attribution a{
  color: var(--Grayish-Blue);

  
}




}

@media only screen and (min-width:480px) and (max-width:700px){
  body{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
 .toggle
	{
		display: block;
    padding-right: .0;
    padding-left:0 ;   
	}
  
  .navigation{
    justify-content: space-between;
  }

  .navlist{
		max-width: 80%; 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    display: none;
	}

  .navbar-items{
    padding: 0 1rem 0 1rem;
  }

	.navlist.active
	{
    margin: 0 auto;
		display: flex; 
    flex-direction: column;
     width: 100%;  
     align-items: center;
     justify-content: center;
     position: absolute;
      left: 0;
      right: 0;
     background:var(--Very-Light-Gray);
    padding: 2rem;

	}

  .icon-hamburger {
  height: 1rem;
  width: 2rem;
}

.icon-close{
  height: 1.5rem;
  width: 1.5rem;
}

.button-nav{
  display: none;
}
	

.intro-container{
  /* min-height: 620px; */
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  overflow-x:clip;
  padding: 0;

}


  .image-background {
  max-height: 25rem;
  margin: 0 0 1.8rem;
}    

.desktop-img{
position: relative;
background-image: url(/esybank-landing/images/bg-intro-mobile.svg);
 background-size: 100% 158%;
background-position: center left;;
background-repeat: no-repeat;
height:28.5rem;
 order: 1;
 flex: 3;
}

  
.image-mockups img {
position: absolute;
z-index: 2;
top: -50%;
left: 0;
right: 0;
width: 88%;
height: 162%;
margin: 0 auto;

}

.text-intro{
 text-align: center;
 /* max-width: 465px; */
padding-bottom: 2.25rem;
padding-bottom: 2.25rem;
padding-right: 3.5rem;
padding-top: 3.2rem;
padding-left: 3.54rem;
 order: 2;
 flex: 2;
}

.text-intro h1{
text-align: center;
 padding-top:  1.2rem ; 
font-weight: 600;
font-size: 2.5rem;
line-height: 1.15;
margin-bottom: 2.2rem;

}
.text-intro p{
  line-height: 1.5;
  margin-bottom: 2.2rem;

}
.text-intro .btuton-requast{
  margin-bottom: 2.2rem;
  display: inline-block;
  cursor: pointer;
  margin-top: .1rem;
}

.logo{
  padding: 1rem 1rem;

}



/**chose easybank*/

.main-content{
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4rem;  
}

.text-content{
  padding: 2rem 3rem 0 3rem;
  grid-column: span 1;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  
 
}

.col-content{
display: grid;
gap: 2rem;
grid-template-columns: repeat(1,1fr);
justify-content: center;
padding-left: 1rem;
padding-right: 1rem;
margin:0 auto ;
}

.column {
  text-align: center;
  margin: 0 2.5rem 0 2.5rem;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: center;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: center;
}


/**article section**/
.latest-article {
 padding: 3rem  4rem;
  display: grid;
 grid-template-columns: repeat(1, minmax(200px, 1fr));
 justify-content: center; 
  align-items: center;
 gap: 2rem;
}

.section-head{
  margin: 0 2rem;
  text-align: center;
}


.section-head h1{
  color: var(--Dark-Blue);
  font-weight: bold;
  font-size: 2.7rem;
  font-family: var(--font-Family);


}

.card{
  padding: 0 3rem 3rem 3rem;
  max-width: 475px;
  margin: 0 auto;

}

.card img{
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.container {
  border: 1px solid var(--Light-Grayish-Blue) ;
  background-color: var(--White);
  padding: 2.5rem ; 
  margin: 0;
  
}

.write-text{
  font-size: 10px;
  color: var(--Grayish-Blue);
  margin: 10px 6px;

}

.head-article{
  font-size: 1rem;
  font-family: var(--font-Family);
  color: var(--Dark-Blue);
  font-weight: 600;
  margin: 10px 6px;

}
.card-text{
  color: var(--Grayish-Blue);
  font-family: var(--font-Family);
  font-size: 13px;
  font-weight: 600;
  margin: 0 5px 0 5px;

}




/**footer**/
footer{
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: 2.5rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  clear: both;
  min-height:min-content;
  justify-items: center;
  
}

.footer-logo{
padding-top: 10px;
}

.footer-nav{
  display: block;
  clear: both;
  text-align: center;
  grid-area: unset;
  margin-right: 3rem;
}

.footer-nav ul li a{
  color: var(--White);
  font-weight: 600;
  font-family: var(--font-Family);
  font-size: 1rem;
}


nav ul.footer-list{
  list-style-type: none;
}

.footer-list li{
  padding-bottom: .9rem;
}


.social-media {
  padding: .2rem 0;
  margin-top: 1rem;
}

.social-media a {
  margin-right: 1rem;
  vertical-align: bottom ;
  

}

.social-media a img {
  vertical-align: bottom;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a,
nav.footer-nav li.footer-nav a {
  transition: all 0.3s;
}


.button-footer{
  grid-area: unset;
  margin: 0 auto;
}

.attribution{
  justify-self: center; 
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 0;
  grid-area: unset;
}
.attribution a{
  color: var(--Grayish-Blue);

  
}


}



@media only screen and (min-width:300px) and (max-width:480px){
  body{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
 .toggle
	{
		display: block;
    padding-right: .0;
    padding-left:0 ;   
	}
  
  .navigation{
    justify-content: space-between;
  }

  .navlist{
		max-width: 80%; 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    display: none;
	}

  .navbar-items{
    padding: 0 1rem 0 1rem;
  }

	.navlist.active
	{
    margin: 0 auto;
		display: flex; 
    flex-direction: column;
    width: 100%;  
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    background:var(--Very-Light-Gray);
    padding: 2rem;

	}

  .icon-hamburger {
  height: 1rem;
  width: 2rem;
}

.icon-close{
  height: 1.5rem;
  width: 1.5rem;
}

.button-nav{
  display: none;
}

	/* .btuton-requast
	{
    padding: 1.7vh;
	}   */

  /* .logo{
    width: 15%;
    float: left ;
  } */

  /* .column{
    width: 100%;
  } */

/* 
     .toggle {
        display: block;
    } */

.intro-container{
  /* min-height: 620px; */
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  overflow-x:clip;
  padding: 0;

}


  .image-background {
  max-height: 25rem;
  margin: 0 0 1.8rem;
}    

.desktop-img{
position: relative;
background-image: url(/esybank-landing/images/bg-intro-mobile.svg);
 background-size: 100% 158%;
background-position: center left;;
background-repeat: no-repeat;
height: 20.5rem; order: 1;
 flex: 3;
}

  
.image-mockups img {
position: absolute;
z-index: 2;
top: -50%;
left: 0;
right: 0;
width: 88%;
height: 162%;
margin: 0 auto;

}

.text-intro{
 text-align: center;
 /* max-width: 465px; */
padding-bottom: 4.25rem;
padding-right: 2.5rem;
padding-top: .5rem;
padding-left: 2.5rem;
 order: 2;
 flex: 2;
}

.text-intro h1{
text-align: center;
 padding-top:  1.2rem ; 
font-weight: 600;
font-size: 2rem;
line-height: 1.15;
margin-bottom: 2.2rem;

}
.text-intro p{
  line-height: 1.5;
  margin-bottom: 2.2rem;

}
.text-intro .btuton-requast{
  margin-bottom: 2.2rem;
  display: inline-block;
  cursor: pointer;
  margin-top: 0;
}

.logo{
  padding: 1rem 1rem;

}



/**chose easybank*/

.main-content{
  padding-top: 2rem;
  padding-right: .2rem;
  padding-left: .2rem;
  padding-bottom: 4rem;  
}

.text-content{
  padding: 2rem 1rem 0 1rem;
  grid-column: span 1;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  
 
}

.col-content{
display: grid;
gap: 2rem;
grid-template-columns: repeat(1,1fr);
justify-content: center;
padding-left: 1rem;
padding-right: 1rem;
margin:0 auto ;
}

.column {
  text-align: center;
  margin: 0 1rem 0 1rem;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;
padding: 1rem;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 15px;
font-weight: 600;
line-height: 1.4;
text-align: center;
}


.head-colm{
color: var(--Dark-Blue);
font-family: var(--font-Family);
font-weight: 700;

}

.text-colm{
color: var(--Grayish-Blue);
font-family: var(--font-Family);
font-size: 16px;
font-weight: 600;
line-height: 1.2;
text-align: center;
}


/**article section**/
.latest-article {
 padding: 1rem;
  display: grid;
 grid-template-columns: repeat(1, minmax(200px, 1fr));
 justify-content: center; 
  align-items: center;
 gap: 2rem;
}

.section-head{
text-align: center;
padding: 2rem ;
margin: 0 auto;;
}


.section-head h1{
  color: var(--Dark-Blue);
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--font-Family);


}

.card{
  padding: 0 .5rem 2rem .5rem;
  max-width: auto;
  margin: 0 auto;

}

.card img{
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.container {
  border: 1px solid var(--Light-Grayish-Blue) ;
  background-color: var(--White);
  padding: 1rem ; 
  margin: 0;
  
}

.write-text{
  font-size: 12px;
  color: var(--Grayish-Blue);
  margin: 10px 6px;

}

.head-article{
  font-size: 1rem;
  font-family: var(--font-Family);
  color: var(--Dark-Blue);
  font-weight: 600;
  margin: 6px 2px;

}
.card-text{
  color: var(--Grayish-Blue);
  font-family: var(--font-Family);
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px 0 5px;

}




/**footer**/
footer{
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: 2.5rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  clear: both;
  min-height:min-content;
  justify-items: center;
  
}

.footer-logo{
padding-top: 10px;
}

.footer-nav{
  display: block;
  clear: both;
  text-align: center;
  grid-area: unset;
  margin-right: 3rem;
}

.footer-nav ul li a{
  color: var(--White);
  font-weight: 600;
  font-family: var(--font-Family);
  font-size: 1rem;
}


nav ul.footer-list{
  list-style-type: none;
}

.footer-list li{
  padding-bottom: .9rem;
}


.social-media {
  padding: .2rem 0;
  margin-top: 1rem;
}

.social-media a {
  margin-right: 1rem;
  vertical-align: bottom ;
  

}

.social-media a img {
  vertical-align: bottom;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a,
nav.footer-nav li.footer-nav a {
  transition: all 0.3s;
}


.button-footer{
  grid-area: unset;
  margin: 0 auto;
}

.attribution{
  justify-self: center; 
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 0;
  grid-area: unset;
}
.attribution a{
  color: var(--Grayish-Blue);

  
}

}
 
